body {
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://t4.ftcdn.net/jpg/05/54/20/43/360_F_554204366_xj0A5SLnR03VerwiDQVaYArTNKIWU93Y.jpg');
}

#counter {
    padding: 1px;
    color: yellow;
    font-size: 50px;
    border: solid 5px rgb(88, 1, 81);
    background: linear-gradient(to right, #3700ff, #00ff00, rgb(255, 0, 242), rgb(252, 20, 20), rgb(6, 230, 211));
}

#funFact {
    display: inline-block;
    align-content: center;
    align-items: center;
    text-align: center;
    color: rgb(153, 211, 250);
    padding: 1px;
    margin-top: 40px;
    border: solid 5px rgb(88, 1, 81);
    background: linear-gradient(to right, #a52323, #92a019, rgb(230, 60, 215));
}

#ending {
    font-size: small;
    margin-top: 1px;
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    color: rgb(153, 211, 250);
    border: solid 5px rgb(88, 1, 81);
    background: linear-gradient(to left, #a52323, #92a019, rgb(230, 60, 215));
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#coundownFinish {
    display: inline-block;
    align-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 0, 0);
    padding: 1px;
    margin-top: 40px;
    border: solid 5px rgb(0, 0, 0);
    background: linear-gradient(to right, #000000, #829100, rgb(255, 255, 255));
}