body {

    background-image: url('https://t4.ftcdn.net/jpg/05/54/20/43/360_F_554204366_xj0A5SLnR03VerwiDQVaYArTNKIWU93Y.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#counter {
    padding: 1px;
    color: yellow;
    font-size: 50px;
    border: solid 5px rgb(88, 1, 81);
    background: linear-gradient(to right, #3700ff, #00ff00, rgb(255, 0, 242), rgb(252, 20, 20), rgb(6, 230, 211));
}

#funFact {
    display: inline-block;
    align-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1px;
    margin-top: 40px;
    border: solid 5px rgb(88, 1, 81);
    background: linear-gradient(to right, #a52323, #aebe1d, rgb(230, 60, 215));
}